#qna{
  display: none;
}

.qBox{
  background-color: orange;
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
  width: 80%;
}

.answerList{
  background-color: rgb(223, 223, 223);
  display: block;
  border: 0;
  outline: 0;
  width: 80%;
  font-size: 20px;
  border-radius: 20px;
  ;
}

.answerList:hover, .answerList:focus{
  background-color: whitesmoke;
  color: rgb(121, 121, 121);
}

.status{
  height: 20px;
  width: 80%;
  background-color: whitesmoke;
  border-radius: 20px;
}

.statusBar{
  height: 100%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#deefff+0,98bede+100;Blue+3D+%2310 */
background: #deefff; /* Old browsers */
background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */


  border-radius: 20px;
}