
/*
dt {
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    width: auto;
}
*/

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
  }
  dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    /* background: #cc0; */
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  dd {
    float: right;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    /* background: #dd0; */
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }

.inputbox {
    font-weight: 700;
    flex: 1;
    float: none;
    width: auto;
}



.btnB {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  overflow: hidden;
}

.ty02 {
  float: right;
  width: 60%;
  background-color: #115dcb;
  list-style:none;
  padding-left:0px;
}

.ty03 {
  float: left;
  width: 30%;  
  background-color: #95959e;
  list-style:none;
  padding-left:0px;
  margin-right: 20px;
}

.ty04 {
  float: right;
  width: 60%;
  background-color: #d80e35;
  list-style:none;
  padding-left:0px;
}


.btnB li a {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: Noto Sans KR,sans-serif;
  text-align: center;
  overflow: hidden;
}



.ask_amount {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding: 10px;
  text-align: center;
}

.ask_price {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}


